.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    padding: 0 20px;
    top: 0;
    z-index: 1;
    background-color: var(--bg-color);
}

.logo {
    text-align: center;
    width: 110px;
    cursor: pointer;
}

.logo__img {
    width: 100%;
}

.slider {
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: var(--main-color);
}

.range {
    width: 100%;
}

.trinkets {
    color: var(--main-color);
    display: flex;
    gap: 40px;
    cursor: pointer;
}

.icon {
    width: 35px;
    height: 35px;
}

.iconImg {
    width: 35px;
    height: 35px;
}

@media (max-width: 1200px) {
    .header {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: var(--bg-color);
    }

    .logo {
        text-align: center;
        width: 105px;
        cursor: pointer;
    }

    .logo__img {
        width: 100%;
    }

    .slider {
        text-align: center;
        width: 50%;
        margin: 0 auto;
    }

    .time {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .range {
        width: 100%;
    }

    .trinkets {
        color: var(--main-color);
        display: flex;
        gap: 25px;
        cursor: pointer;
    }

    .icon {
        width: 40px;
        height: 40px;
    }

    .iconImg {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 650px) {
    .home {
        color: var(--main-color);
    }

    .header {
        width: 100%;
        height: 130px;
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: var(--bg-color);
    }

    .logo {
        text-align: center;
        width: 120px;
        position: absolute;
        top: 20px;
        left: 20px;
        cursor: pointer;
    }

    .logo__img {
        width: 100%;
    }

    .slider {
        position: absolute;
        top: 70px;
        text-align: center;
        width: 100vw;
        height: 60px;
        padding: 8px 20px;
        margin: 0 auto;
        background-color: rgb(48, 45, 43);
    }

    .time {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .range {
        width: 100%;
    }

    .trinkets {
        color: var(--main-color);
        display: flex;
        gap: 25px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .icon {
        width: 35px;
        height: 35px;
    }

    .iconImg {
        width: 35px;
        height: 35px;
    }
}
