@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Cinzel", serif;
}

:root {
    --bg-color: #1d1c18;
    --bg-variant: #2c2c6c;
    --main-color: #e4dfd5;
    --main-variant: rgba(77, 181, 255, 0.4);
    --white-color: #fff;
    --light-color: rgba(255, 255, 255, 0.6);

    --transition: all 400ms ease;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background-color: var(--bg-color);
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.7rem;
}

section {
    margin-top: 8rem;
    height: 100vh;
}

section > h2, section > h5 {
    text-align: center;
    color: var(--light-color);
}

section > h2 {
    color: var(--main-color);
    margin-bottom: 3rem;
}

.text-light {
    color: var(--light-color);
}

a {
    color: var(--main-color);
    transition: var(--transition);
}

a:hover {
    color: var(--white-color);
}

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    section > h2 {
        margin-bottom: 2rem;
    }
}